@model ContosoUniversity1.ViewModels.InstructorIndexData

@{
    ViewBag.Title = "Instructors";
}

<h2>Instructors</h2>

<p>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "InstructorIndexData")'">Create New</button>
</p>
<div class="card">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9">Last Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9">First Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9">Hire Date</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9">Office</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9">Courses</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-9"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Instructors)
                {
                    string selectedRow = "";
                    if (item.ID == ViewBag.InstructorID)
                    {
                        selectedRow = "success";
                    }
                    <tr class="@selectedRow">
                        <td class="text-xs font-weight-bold mb-0">
                            <h6>@Html.DisplayFor(modelItem => item.LastName)</h6>
                        </td>
                        <td class="text-xs font-weight-bold mb-0">
                            <h6>@Html.DisplayFor(modelItem => item.FirstMidName)</h6>
                        </td>
                        <td class="text-xs font-weight-bold mb-0">
                            <h6>@Html.DisplayFor(modelItem => item.HireDate)</h6>
                        </td>
                        <td class="text-xs font-weight-bold mb-0">
                            <h6>
                                @if (item.OfficeAssignment != null)
                                {
                                    @item.OfficeAssignment.Location
                                }
                            </h6>
                        </td>
                        <td class="text-xs font-weight-bold mb-0">
                            @{
                                foreach (var course in item.Courses)
                                {
                                    @course.CourseID @:  @course.Title <br />
                                }
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Select", "Index", new { id = item.ID }) |
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@if (Model.Courses != null)
{
    <h3>Courses Taught by Selected Instructor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == ViewBag.CourseID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.CourseID })
                </td>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }

    </table>
}

@if (Model.Enrollments != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}
