<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Contoso University</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="~/Content/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/Content/assets/css/nucleo-svg.css" rel="stylesheet" />

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>



    <!-- CSS Files -->
    <link id="pagestyle" href="~/Content/assets/css/soft-ui-dashboard.css" rel="stylesheet" />


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @if (ViewBag.ShowNavbar != true)
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-dark z-index-3 py-3">
            <div class="container">
                @Html.ActionLink("Contoso University", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-white" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <a href="@Url.Action("Index", "Home", new { area = "" })" class="nav-link" style="color:white">Home</a>
                        </li>
                        <li>
                            <a href="@Url.Action("About", "Home", new { area = "" })" class="nav-link" style="color:white">About</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Student", new { area = "" })" class="nav-link" style="color:white">Students</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Course", new { area = "" })" class="nav-link" style="color:white">Courses</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Instructor", new { area = "" })" class="nav-link" style="color:white">Instructors</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Department", new { area = "" })" class="nav-link" style="color:white">Departments</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Contoso University</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />



</body>


</html>

